name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: ${{ matrix.compiler.cxx }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - { cc: clang-8,  cxx: clang++-8,  ld: ld.lld-8 }
          - { cc: clang-9,  cxx: clang++-9,  ld: ld.lld-9 }
          - { cc: clang-10, cxx: clang++-10, ld: ld.lld-10 }
          - { cc: gcc-7,    cxx: g++-7,      ld: ld.lld-10 }
          - { cc: gcc-8,    cxx: g++-8,      ld: ld.lld-10 }
          - { cc: gcc-9,    cxx: g++-9,      ld: ld.lld-10 }
          - { cc: gcc-10,   cxx: g++-10,     ld: ld.lld-10 }

    steps:
      - name: make sure compiler are available
        run: |
          which ${{ matrix.compiler.cc }}
          which ${{ matrix.compiler.cxx }}
          which ${{ matrix.compiler.ld }}

      - name: install valgrind
        run: |
          sudo apt-get update
          sudo apt-get install -y valgrind

      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: install rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: run tests
        run: |
          mkdir -p target
          LD=${{ matrix.compiler.ld }} CC=${{ matrix.compiler.cc }} CXX=${{ matrix.compiler.cxx }} make test-all
